.kaufman__triangle {
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image: url(/images/triangle.svg);
  position: absolute;
  right: -210px;
  bottom: 0px;
  width: 995px;
  height: 1006px;
  top: 0px;
  background-size: 100% 100%;
  z-index: 2;
 }
