.khan__buy-link {
  color: #2f80ed;
  right: auto;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
}
.khan__buy-link:hover {
  transition: 1s ease-out;
  opacity: 0.5;
}
